* {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 160px;
}

.display-flex-btwn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.display-flex-arnd {
    display: flex;
    justify-content: space-around;
}
.justify-start{
    justify-content: start;
}

.small-tex {
    color: #676767;
    font-size: 15px;
}

.btn {
    padding: 10px;
    height: 42px;
    color: white;
    font-size: 16px;
    background-color: #06623b;
    border: 1px solid #06623b;
}

.titles-text-aling-padding {
    padding: 60px 0px;
    text-align: center;
}

.color-34{
    color: #343434;
}
.color-white{
    color: white;
}
.white-100-px{
    width: 220px;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
input{
    padding: 0px 15px;
    margin-top: 15px;
}
.aligin-items-center{
    align-items: center;
}
.mr-r-10px{
    margin-right: 10px;
}