/* Saytin en ust hissesi  */

#upper-part {
    width: 100%;
    padding: 10px 0px;
}
.upper-right i {
    margin-right: 5px;
}

.register {
    margin-right: 10px;
}

/* Navbar -- Logo ve bolmeler hissesi */

#navbar {
    width: 100%;
    height: 55px;
    background-color: #35a7ff;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.childe-navbar{
    height: 100%;
    align-items: center;
    text-align: center;
}
.logo{
    width: 20%;
    height: 100%;
}
.navbar-a{
    width: 64%;
    height: 100%;
    box-sizing: border-box;
}

.navbar-a a {
    font-size: 15px;
    font-weight: bold;
    padding: 20px 5px;
}
.responsive-menu{
    display: none;
}

/* big search -- boyuk axtaris hissesi -- slider -- btn */

@keyframes slideBg {
    0% {
        background-image: url('../img/1.jpg');
    }

    25% {
        background-image: url("../img/3.jpg");
    }

    50% {
        background-image: url("../img/4.jpg");
    }

    75% {
        background-image: url("../img/slider1.jpg");
    }

    100% {
        background-image: url('../img/1.jpg');
    }
}

#search {
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    animation: slideBg 8s linear infinite 0s;
    animation-timing-function: ease-in-out;
    background-image: url('img/1.jpg');
    text-align: center;
    background-attachment: fixed;
}

.search-h1-btn {
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}

.search-h1-btn h1 {
    font-size: 50px;
    padding-top: 14%;
}

.search-h1-btn p {
    font-size: 35px;
}

.search-inp {
    width: 400px;
    height: 40px;
    margin-top: 25px;
    background: transparent;
    border: 1px solid white;
}

/* Cateqoria basliqlari--birinci basliq ( xidmet bolmesi )*/

.servis {
    width: 100%;
    background-color: #f5f5f5;
}

.servish3 {
    font-size: 28px;
    margin-bottom: 10px;
}

.categroe {
    width: 300px;
    height: 190;
    padding: 15px;
    margin-bottom: 50px;
    background-color: #fff;
    text-align: center;
}

.row {
    align-items: center;
    margin: 0px 0px 5px 0px;
}

.row a {
    padding: 5px;
}

/* Bolmelerde ne qeder mehsulun oldugu hisse */

.row-count-b {
    float: right;
    background: #454545;
    width: 23px;
    padding: 4px;
    font-size: 9px;
    border-radius: 10px;
}

/* En son komentariyalar olan hisse */
#servisis-2 {
    width: 100%;
    min-height: 300px;
    padding: 0px 0px 70px 0px;
}

.titles-text-aling-padding h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
}

.servis2-wrapper{
    margin-bottom: 30px;
    box-sizing: border-box;
}

.servis2-wrapper-inner {
    width: 100%;
    background-color: white;
    
}

.last-comment-and-section {
    width: 280px;
    height: 200px;
    overflow: hidden;
}
.last-comment-and-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.last-comment {
    width: 220px;
}

.last-comment a {
    color: black;
    font-size: 18px;
    margin: 0px 0px 10px 10px;
    box-sizing: border-box;
    font-weight: bold;
}

.last-comment p {
    margin: 20px 10px;
}

.small-img-div {
    width: 100%;
    height: 30px
}

.small-img-div a {
    padding: 10px;
}

.small-img {
    width: 25px;
    height: 25px;
    margin: 0px 0px 0px 8px;
    border-radius: 50%;
    float: left;
    margin: 0px 10px;
}

.name-user {
    margin-bottom: 10px;
}

/* Product hissesi. axirdaki menyu kimi olan hise */
#content {
    margin: 20px 0px;
}

.al-content-web-site {
    min-height: 200px;
}

.all-content {
    width: 25%;
    min-height: 100px;
}

.al-content-al-section {
    padding: 7px 0px 0px 25px;
}

.al-content-al-section i {
    font-size: 13px;
    padding: 0px 10px 0px 0px;
}

.h5-title {
    font-size: 18px;
    padding-bottom: 10px;
    display: inline-block;
}

.first-content-image img {
    width: 50px;
    height: 50px;
    margin: 5px 0px 0px -25px;
}

.content-image-and-link {
    margin-left: -15px;
    padding: 0px 28px;
}

.first-content-link {
    padding: 6px;
    margin-left: -63px;
}

/* Son hisse */
#end {
    padding: 15px 160px;
    background-color: black;
}

.social-media a {
    margin: 0px 10px;
}

#hidden-menu{
    width: 90%;
    box-sizing: border-box;
    margin: 0% 5%;
}
.show{
    position: absolute;
    background-color: #35a7ff;
    padding: 40px 25px 40px 0px;
    transform: initial 3sm;
}
.show ul{
    padding: 0px 0px 0px 15px;
}
.show ul li{
    padding: 5px 0px;
}
.show li a{
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 5px;
}
.hide{
    display: none;
}

.stars{
    position: absolute;
    top: -120%;
    left: 0px;
    width: 100%;
    height: 100%;
    color: gold;
    background: rgb(0, 0, 0, 0.6);    
    text-align: center;
    padding: 10px 0px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-comment-and-section:hover .stars{
    top: 0px;   
}
.text{
    width: 100%;
    padding: 0px 0px 20px 0px;
    
}
