$maincollor: #2980b9;

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Markazi Text', serif;
}

a {
    text-decoration: none;
}

.container {
    padding: 0px 160px;
}

.display-flex-btwn {
    @include between;
}

.display-flex-arnd {
    @include around;
}
.justify-start{
    justify-content: start;
}

.small-text {
    color: #676767;
    font-size: 18px;
}
.padding-top-15{
    padding-top: 15px;
}

.btn{
  @include button;
}

.titles-text-aling-padding {
    padding: 40px 0px;
    text-align: center;
}

.color-34{
    color: #343434;
}
.color-white{
    color: white;
}
.color-black{
    color: black;
}

.white-100-px{
    width: 220px;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
input{
    padding: 0px 15px;
    margin-top: 15px;
}
.aligin-items-center{
    align-items: center;
}
.mr-r-10px{
    margin-right: 10px;
}
.box-sizing-border-box{
    box-sizing: border-box;
}
.mr-20px{
    margin-right: 10px;
}
.ml-10px{
    margin-left: 10px;
}
.jc-c{
    justify-content: center;
}
.hide{
    display: none;
}
