#content {
    width: 100%;
    margin: 20px 0px;
    .all-content-web-site {
        min-height: 200px;
        .all-content {
            width: 25%;
            min-height: 100px;
            .all-content-all-section {
                padding: 7px 0px 0px 25px;
                i {
                    font-size: 13px;
                    padding: 0px 10px 0px 0px;
                }
                .h5-title {
                    font-size: 18px;
                    padding-bottom: 10px;
                    display: inline-block;
                }
            }
            .content-image-and-link {
                margin-left: -15px;
                padding: 0px 28px;
                .first-content-image img {
                    width: 50px;
                    height: 50px;
                    margin: 5px 0px 0px -25px;
                }
                .first-content-link {
                    padding: 0px 0px 0px 6px;
                    margin-left: 0px;
                    
                }
            }
        }
    }
}



@media (min-width:320px) and (max-width: 480px){
    #content {
        width: 100%;
        margin: 20px 0px;
        .all-content-web-site{
            padding: 0px 0px 0px 13px;
            .all-content{
                width: 20%;
                .all-content-all-section {
                    padding: 0px 0px 0px 0px;
                    i {
                        display: none;
                    }
                    .h5-title{
                        display: block;
                        // text-align: center;
                        font-size: 16px;
                        
                    }
                }
                .content-image-and-link {
                    margin-left: 0px; 
                    padding: 0px; 
                    justify-content: flex-start;
                    .first-content-image img {
                        width: 50px;
                        height: 50px;
                        margin: 0px 0px 0px 0px;
                    }
                    
                }
            }
        }
       
        .first-content-link {
            display: none;
        }        
    }  
}



@media (min-width:481px) and (max-width: 550px){
    #content {
        width: 100%;
        margin: 20px 0px;
        .all-content-web-site{
            padding: 0px 15px;
            .all-content{
                width: 20%;
                .all-content-all-section {
                    padding: 0px 0px 0px 0px;
                    i {
                        display: inline-block;
                        padding: 0px;
                    }
                    .h5-title{
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        
                    }
                }
                .content-image-and-link {
                    margin-left: 0px; 
                    padding: 0px; 
                    // justify-content: flex-start;
                    justify-content: center;
                    .first-content-image img {
                        width: 65px;
                        height: 65px;
                        margin: 0px 0px 0px 0px;
                    }
                    
                }
            }
        }
       
        .first-content-link {
            display: none;
        }        
    }  
}


// --------------------Plansetler ucun responsivlik-----------------
@media (min-width:551px) and (max-width: 810px){
    #content {
        width: 100%;
        margin: 20px 0px;
        .all-content-web-site{
            padding: 0px 30px;
            .all-content{
                width: 20%;
                .all-content-all-section {
                    padding: 0px 0px 0px 0px;
                    i {
                        display: inline-block;
                        padding: 0px;
                    }
                    .h5-title{
                        display: block;
                        text-align: center;
                        font-size: 18px;
                        
                    }
                }
                .content-image-and-link {
                    margin-left: 0px; 
                    padding: 0px; 
                    // justify-content: flex-start;
                    justify-content: center;
                    .first-content-image img {
                        width: 65px;
                        height: 65px;
                        margin: 0px 0px 0px 0px;
                    }
                    
                }
            }
        }
       
        .first-content-link {
            display: none;
        }        
    }  
}