#end {
    padding: 15px 160px;
    background-color: black;
    .social-media a {
        margin: 0px 10px;
    }
}

@media (min-width:320px) and (max-width: 480px){
    #end {
        padding: 15px 10px;
    }
}
@media (min-width:481px) and (max-width: 810px){
    #end {
        padding: 15px 55px;
    }
}