#end {
    padding: 15px 160px;
    background-color: black;
    .social-media a {
        margin: 0px 10px;
    }
}

@media (min-width:320px) and (max-width: 480px){
    #end {
        padding: 15px 10px;
    }
}
@media (min-width:481px) and (max-width: 810px){
    #end {
        padding: 15px 55px;
    }
}


@media (min-width:811px) and (max-width: 1199px) {
    #end {
        padding: 15px 55px;
    }
}


$sizes: 10, 15, 20, 25, 30, 35, 100;
@each $size in $sizes {
    .font-size-#{$size}{
        font-size: #{$size}px ;
    }
   
}