#hidden-menu{
    width: 90%;
    box-sizing: border-box;
    margin: 0% 5%;
}
.show{
    @include absolute;
    background-color: #35a7ff;
    padding: 40px 25px 40px 0px;
    transform: initial 3sm;
}
.show ul{
    padding: 0px 0px 0px 15px;
}
.show ul li{
    padding: 5px 0px;
}
.show li a{
    font-size: 15px;
    font-weight: bold;
    color: black;
    padding: 5px;
}
.hide{
    display: $none;
}

.stars{
    @include absolute;
    top: -120%;
    left: 0px;
    @include fullWhidthHeight;
    color: gold;
    background: rgba(133, 129, 129, 0.6);    
    text-align: center;
    padding: 10px 0px;
    transition: all 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.last-comment-and-section:hover .stars{
    top: 0px;   
}
.text{
    width: 100%;
    padding: 0px 0px 20px 0px;
    
}
.responsive-catagori-h{
    display: $none;
}