#services{
    width: 100%;
    .service {
        width: 100%;
        background-color: #f5f5f5;
        h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }
        .container{
            .row-service{
                    display: flex;
                    justify-content: space-between;
            }
        }
    }
    .categroe {
        width: 300px;
        height: 190;
        padding: 15px;
        margin-bottom: 50px;
        background-color: #fff;
        text-align: center;
        .row {
            align-items: center;
            margin: 0px 0px 5px 0px;
            a {
                padding: 5px;
            }
            .row-count-b {
                float: right;
                background: #454545;
                width: 23px;
                padding: 4px;
                font-size: 9px;
                border-radius: 10px;
            }
        }
        
    }
}



@media (min-width:320px) and (max-width: 480px){
    #services{
        width: 100%;
        .service {
            width: 100%;
            background-color: #f5f5f5;
            .container{
                .row-service{
                        display: block;
                }
            }
            h3 {
                padding: 15px 0px 8px 0px;
            }
            p{
                padding-bottom: 15px;
                line-height: 1.2;
            }
        }
        .categroe {
            width: 100%;
            margin-bottom: 10px;
        }
    }
}


// --------------------Plansetler ucun responsivlik-----------------
@media (min-width:481px) and (max-width: 810px){
    #services{
        width: 100%;
        .service {
            width: 100%;
            background-color: #f5f5f5;
            .container{
                .row-service{
                    display: flex;
                    
                }
            }
            h3 {
                padding: 12px 0px 0px 0px;
            }
            p{
                padding-bottom: 15px;
                line-height: 1.2;
            }
        }
        .categroe {
            width: 32%;
            margin-bottom: 10px;
        }
    }
}
@media (min-width:811px) and (max-width: 1199px){
#services{
        .service {
            h3 {
                padding: 12px 0px 0px 0px;
            }
            p{
                padding-bottom: 15px;
            }
        }
        .categroe {
            width: 29%;
            margin: 0px 0px 20px 0px;
            
        }
}
}